# NGINX 1.19.8 core configuration
{% if _nginx_load_modules|length > 0 %}
{% for module in _nginx_load_modules %}
load_module {{ module }};
{% endfor %}
{% endif %}
user  {{ nginx_user }};

worker_processes  {{ nginx_worker_processes }};

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
  worker_connections  {{ nginx_worker_connections }};
}

{% if nginx_streamd|length > 0 %}
stream {
  include {{ _nginx_streamd }}*.conf;
}
{% endif %}

http {
  include       {{ _nginx_root }}mime.types;
  default_type  application/octet-stream;

  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

  access_log  /var/log/nginx/access.log  main;

  sendfile   {{ 'on' if nginx_sendfile else 'off' }};
  tcp_nopush {{ 'on' if nginx_tcp_nopush else 'off' }};

  keepalive_timeout {{ nginx_keepalive_timeout }};

  gzip {{ 'on' if nginx_gzip else 'off' }};

  include {{ _nginx_confd }}*.conf;
}
